.textoalign{
    margin-top:8px;
    text-align:center;
}
.pdfluid{
    margin-top:15px;
}
.bgdatarja{
    background-color:#ffda23;
    padding:10px;
}
.btn{
    width:100%;
    margin-top:-5px;
    color:#fff;
    background-color:#009fde;
}
.btn:hover{
    background-color:#41c3f7;
    color:#fff;
}
.equalsize{
    font-size:20px;
}
.equalsizet{
    font-size:14px;
}