.textoalign{
    margin-top:8px;
    text-align:center;
}
.pdfluid{
    margin-top:15px;
}
.bgdatarja{
    background-color:#009fde;
    padding:10px;
}
.btn{
    width:100%;
    margin-top:-5px;
    background-color:yellow;
    color:black;
}
.btn:hover{
    background-color:rgb(255, 255, 228);
    color:black;
}
.equalsize{
    font-size:20px;
}
.equalsizet{
    font-size:14px;
}